{% extends 'base.html' %}

{% block content %}
    <div>
        {% include 'home_navbar.html' %}
        <div class="row mx-0 mt-5">
            <div class="col-md d-flex justify-content-center align-items-center flex-column">
                <div>
                    <span style="font-weight: bold; font-size: 22px;">For Patients</span>
                </div>
                <div style="text-align: center; font-size: 17px;" class="mt-4">
                    <ul style="list-style: none;" class="px-0">
                        <li>Easy to booking interface</li>
                        <li>Access to all medical reports</li>
                        <li>One stop solution to purchase Insurance</li>
                        <li>Easy to user interface to claim insurance with status tracking</li>
                    </ul>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center align-items-center flex-column">
                <div>
                    <span style="font-weight: bold; font-size: 22px;">For Doctors</span>
                </div>
                <div style="text-align: center; font-size: 17px;" class="mt-4">
                    <ul style="list-style: none;" class="px-0">
                        <li>Easy to use interface to manage appointments</li>
                        <li>Storage of all medical records</li>
                        <li>Create Custom Appointments</li>
                        <li></li>
                    </ul>
                </div>
            </div>
            <div class="col-md d-flex justify-content-center align-items-center flex-column">
                <div>
                    <span style="font-weight: bold; font-size: 22px;">For Insurance Providers</span>
                </div>
                <div style="text-align: center; font-size: 17px;" class="mt-4">
                    <ul style="list-style: none;" class="px-0">
                        <li>Custom dashboard to manage Insurances</li>
                        <li>Get purchase details specific to each Insurance</li>
                        <li>Easy to use interface to respond to claim requests</li>
                        <li>Interactive User Interface</li>
                    </ul>
                </div>
            </div>
        </div>
    </div> 
{% endblock %}

