{% extends 'base.html' %}

{% block extrahead %} 
{% load static %}
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    <style>
        

    @media (min-width: 1200px) {
        .desktop-container{
            max-width: 25%;
        }
    }
    </style>
{% endblock %}


{% block content %}
<div>
    {% include 'home_navbar.html' %}
    <div class="mx-auto w-100 desktop-container container">
        <h2>Password reset</h2>
        <p>Enter the email associated with your account and we'll send you instructions to reset your password.</p>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <button type="submit">Reset password</button>
        </form>
    </div>
</div>


{% endblock %}