.sidebar-container {
    background-color: antiquewhite;
}

.main-container {
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

.pagination-container {
    text-align: center;
}

.prescription-container {
    box-shadow: 1px 1px 2px 1px black;
    background-color:rgb(246, 251, 251);
}

.prescription-form label {
    font-size: 16px;
    color: rgb(60, 60, 60);
    font-weight: 500;
    margin-bottom: 5px;
}

.prescription-form .section {
    margin-bottom: 20px;
}

