<nav class="navbar navbar-expand-lg navbar-dark bg-dark px-2 fixed-top">
    <a class="navbar-brand" href="#">HealthinessEase</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarText">
      <ul class="navbar-nav ml-auto">
        {% if not request.path == '/insurance_provider/dashboard' %}
        <li class="nav-item">
          <a class="nav-link" href="{% url 'insurance_dashboard' %}">Dashboard </a>
        </li>
        {% endif %}
        
        <li class="nav-item">
          <a class="nav-link" href="{% url 'logout' %}">Logout </a>
        </li>
      </ul>
      

      <!-- <div class="dropdown text-end profile d-none d-md-inline-block">
        <a href="#" class="d-block link-dark text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
          <img src="https://github.com/mdo.png" alt="mdo" width="32" height="32" class="rounded-circle">
        </a>
        <ul class="dropdown-menu text-small">
          <li><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
          <li><hr class="dropdown-divider"></li>
          <li><a class="dropdown-item" href="{% url 'logout' %}">Sign out</a></li>
        </ul>
    </div> -->
</nav>